body {
    background-image: url("http://i.imgur.com/VBUF9NK.png?1");
    margin: 0;
    padding: 0;
    position: relative;
    z-index: 0;
}

    
div {
    min-height: 100%;
    width: 51%;
    display: block;
    margin: 0 auto;
    float: none;
    position: inherit;
    z-index: 1;
    background-color: #D7DFFF;
}

iframe.video {
    border: double 20px #B5DEE4;
    border-radius: 50px;
    display: block;
    margin: 0 auto;
    float: none;
    margin-top: 50px;
}

iframe.music {
    border: double 20px #B5DEE4;
    border-radius: 50px;
    display: block;
    margin: 0 auto;
    float: none;
    margin-top: 20px;
}

img {
    display: block;
    margin: 0 auto;
    float: none;
}