body {
    height: 100%;
    background-image: url("http://i.imgur.com/vF9JWO6.png?1");
    margin: 0;
    padding: 0;
}

html{
    margin: 0;
    padding: 0;
    height: 100%;
}

h2{
    text-align: center;
    color: aqua;
    border: 5px solid pink;
    border-radius: 10px;
    background-image: url(http://i.imgur.com/vZjtkRc.jpg?1);
    padding: 20px;
}

div {
    min-height: 100%;
    width: 51.2%;
    display: block;
    margin: 0 auto;
    float: none;
    background-color: #D7DFFF;
}

iframe.video {
    border: hidden 20px #B5DEE4;
    border-radius: 10px;
    display: block;
    margin: 0 auto;
    float: none;
    margin-top: 50px;
}

iframe.music {
    border: hidden 20px #B5DEE4;
    border-radius: 10px;
    display: block;
    margin: 0 auto;
    float: none;
    margin-top: 20px;
}

img {
    display: block;
    margin: 0 auto;
    float: none;
}

a img {
    display: inline;
    margin: 25px 15px 25px;
    height: 350px;
    padding: 1px
} 

.img {
    border: 0;
    text-decoration: none;
}